@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 0%;
  box-shadow: 0px 5px 10px 0px #aaa;
  position: static;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 65px;
  z-index: 12;
}

.logo-img {
  margin: 5px 10px 5px 20px;
  display: block;
  width: 80%;
  height: 50px;
  object-fit: contain;
}

.logo-text {
  font-size: 1rem;
  display: block;
  margin: 10px;
  padding: 0px;
  margin-left: 0px;
}

.logo-text span {
  font-size: 1.5rem;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 64px;
}

.menu-items {
  width: auto;
  margin: 15px 30px;

  display: flex;
}

.menu-items li {
  /* float: right; */
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.menu-highlight{
 background: #d3d3d3;
 border-radius: 35px;
 padding: 0px 20px;
 line-height: 50px !important;
 margin: auto;
}

/* CATEGORY SECTION STARTS  */
.float-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px rgb(32, 166, 203);
}

.float-child {
  width: 25%;
  display: block;
  float: left;
  padding:20px;
  background-image: linear-gradient(to right, #c9c5b3 , rgb(166, 166, 237));
  border: 4px solid rgb(234, 80, 90);
} 

.catalouge-item {
	margin: 10% 20%;
	width: 250px;
	width: 60%;
	height: 75%;
	padding: 3px;
	background: linear-gradient(to right, red, purple);
}
.text {
	text-align: center;
	padding-bottom: 10px;
	font-family: Brush Script MT;
	font-size: 1.5em;
	font-style: italic	;
}

/* CATEGORY SECTIONN ENDS  */

/* FOOTER SECTION STARTS  */

footer {
  background: #1e3161;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: #2f4374 0 10px 20px 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
}

.main {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.heading {
  margin-bottom: 15px;
}
.col1 {
  padding-left: 0%;
  flex: 1;
  min-width: 200px;
}
.col2 {
  flex: 2;
  min-width: 300px;
}
.col3 {
  flex: 1;
  min-width: 200px;
}

.col1 a {
  text-decoration: none;
  display: inline-block;
  /* padding: 7px 0; */
  color: white;
  font-size: 18px;
}
.col1 a:hover {
  color: #58bed5;
}

.col1 ul {
  list-style-type: none;
  padding-left: 5px;
}

.col1 li {
  list-style-type: none;
  padding-left: 0%;
}

.col2 .email {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}
.col2 a {
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  color: white;
  font-size: 18px;
}
.col2 a:hover {
  background: #58bed5;
}

.social {
  display: flex;
  gap: 25px;

}
.col3 ion-icon {
  font-size: 35px;
  color: white;
}
.social a:hover ion-icon {
  color: #5ac1d8;
}

/* FOOTER SECTION ENDS  */

/* Media Queries */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 600px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 300px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 19px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    z-index: 1;
  }

  .carousel-inner {
    z-index:-1;
  }

  .carousel-control-prev {
    z-index:1;
    background-color: 2px solid black;
    }
    .carousel-control-next{
      color: black;
    }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo-img {
    float: left;
    width: 50px;
    position: absolute;
    margin-top: 7.5px;
    left: 15px;
    font-size: 2rem;
  }

  .logo-text {
    margin-top: 15px;
    margin-left: 95px;
    float: left;
  }

  .logo-text span {
    font-size: 120%;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
  .catalouge-item {
		margin-left: 20%;
		overflow: hidden;
		top: 50%;
		padding: 3px;
		width: 60%;
		height: 280px;
		background: linear-gradient(to right, red, purple);
		justify-content: center;
	}
	
	.text {
		text-align: center;
	}
	.float-child {
		flex: 50%;
		max-width: 50%;
		background-image: linear-gradient(to right, #c9c5b3 , rgb(166, 166, 237));
		padding: 5px;
		border: 2px solid red;
    height: 40%;
	}
}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
    margin-top: 65px;
      font-size: 1.6rem;
  }

  .logo-img {
    /* position: absolute; */
    /* margin-left: 60px; */
    float: left;
    width: 50px;
    position: absolute;
    margin-top: 7.5px;
    left: 15px;
    font-size: 2rem;
    top: 6px;
  }

  .logo-text {
    margin-top: 25px;
    margin-left: 95px;
    float: left;
  }

  .logo-text span {
    font-size: 120%;
    font-weight: 500;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
/* try for icons stick */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-30%);
  transform: translateY(-10%);
  z-index: 1;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.whatsapp {
  background: #12be21;
  color: white;
}

.icon-bar ion-icon {
  font-size: 25px;
}